.post {
    min-height: 100vh;
    background-color       : #F8F9FA;
}

.posts-container {
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : row;
    padding        : 30px 0;
    flex-wrap      : wrap;
    transform-style: preserve-3d;
    width          : 100%;
    margin         : 0 auto;
}

.itemBox {
    position       : relative;
    width          : 30%;
    height         : 16rem;
    margin         : 0 10px 20px 10px;
    background     : #000;
    transform-style: preserve-3d;
    transform      : perspective(1000px)
}

.itemBox:hover {
    box-shadow: 0 50px 80px rgba(0, 0, 0, .3);
}

.itemBox img {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.itemBox .contentBx {
    position        : absolute;
    top             : 30%;
    left            : 50px;
    right           : 50px;
    background      : #fff;
    transform       : translateZ(20px) scaleY(0);
    padding         : 30px 25px 20px 25px;
    transform-origin: top;
    transition      : 0.5s;
    transform-style : preserve-3d;
    opacity         : .9;
}

.posts-container .itemBox:hover .contentBx {
    transform: translateZ(50px) scaleY(1);
}

.spinner {
    width  : 30rem;
    display: block;
    margin : 0 auto;
}