/* Fake image */
.fakeimg {
    background-color: #aaa;
    width           : 100%;
    padding         : 20px;
    object-fit      : cover;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding         : 20px;
    margin          : 20px auto 0 auto;
    width           : 70%;
    object-fit      : cover;
}

.bt-group {
    display       : flex;
    flex-direction: row;
}

.button {
    width: 15%;

}